/* BODY STYLES */
.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
body {
    font-size: 1.5em;
    /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #222;
}
.text {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-weight: 400;
}

.center {
    text-align: center;
}

/* HERO AND HEADING STYLES */
.hero {
    padding: 3% 4%;
    width: 100vw;
    background-color: white;
    background-image: url("../images/news2.jpg");
    background-size: cover;
    background-position: center;
    background-position: 80%;
    z-index: 9999;
    align-items: center
}
h1 {
    color: black;
    font-size: 3rem;
    line-height: 1.2;
    opacity: 1;
    letter-spacing: -.1rem;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
h2 {
    color: black;
    font-size: 2rem;
    line-height: 1.2;
    text-align: center;
    opacity: 1;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
.background {
    background-color: white;
    opacity: .85;
    padding: 5px;
    border-radius: 5px;
}
.image {
    min-width: 275px;
    min-height: 190px;
    max-width: 275px;
    max-height: 190px; 
}

/* SEARCH STYLES */

.searchForm {
    margin-top: 10px;
    margin-bottom: 10px;
}
.title {
    font-weight: 100px
}
.searchDirect {
    color: black;
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 1.2;
    text-align: center;
    opacity: 1;
}
.box{
    vertical-align: center;
}
.form-input {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}
.placeholder {
    font-weight: 500;
    color: black;
    font-size: 1rem;
}
.appended-cities {
    height: 100px;
    width: 100%;
}

/* DROPDOWN STYLES */

.dropdown {
    padding: 0px;
    margin-bottom: 20px;
}
.dropdown-trigger {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    height: 40px;
}
.dropdown-menu {
    text-align: center;
    width: 100%;
}
.dropdownBtn {
    padding: 10px 0;
}

/* BUTTON STYLES */

.button {
    width: 100%
}
.buttons {
    color: black;
    background-color: transparent;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;  
    margin: 3px;
    display: inline;
    border: none;
    font-size: 1rem;
    outline: none;
}
.buttons:hover {
    background-color: rgba(147, 161, 177, .3);
    cursor: pointer;
    border: none;
    outline: none;
}

/* STYLES FOR MAP */

#map {
    height: 550px;
    box-shadow: #858585 1px 1px 15px;
    margin-bottom: 5px;
}

.gm-style-mtc {
    margin-top: 420px;
}
.controls {       
    color: black;
    border-radius: 3px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-overflow: ellipsis;
    height: 40px;
    margin-top: 10px;
    margin-left: -175px;
    width: 40%;
    justify-self: center;
    text-align: center;
    font-size: 18px;    
}
.controls:focus {
    border-color: #4d90fe;
}

.title {
    font-weight: bold;
}

.hide {
    display: none
}

#infowindow-content {
    display: none;
    margin-top: 50px;
}

#map #infowindow-content {
    display: inline;
}

/*SCROLL BAR STYLES */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; 
  background: white;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:rgb(66, 65, 65); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:rgb(66, 65, 65); 
}
.newsbox {
    margin-top: 40px;
}

/* MEDIA QUERIES FOR TABLET */
@media screen and (min-width: 571px) and (max-width: 849px){
    .controls {

        margin-top: 10px;
        width: 60%;
        height: 40px;
        font-size: 22px;
        margin-left: -175px;
    }
}


/* MEDIA QUERIES FOR MOBILE */

@media screen and (max-width: 570px) {
    #map {
        height: 300px;
    }   
    .controls{

        margin-top: 10px;
        margin-left: 3px;
        height: 40px;
        padding: 0 5%;
        font-size: 18px;
        width: 65%;
    }
    .gm-fullscreen-control {
        display: none;
    }
    h1 {
        font-size: 1.3em;
        font-weight: bolder;
        line-height: 2;
        text-shadow: white 0px 0px 5px;
    }
    .gm-style-mtc {
        display: none;
    }
  
}



